---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.vue";
---

<Layout title="Welcome to Astro.">
  <main>
    <a class="block mb-12" href="/">go back to home</a>

    <div class="text-3xl spacing h-[100px] bg-[burlywood] text-black text-center">
      random CHONKKY piece of text!
    </div>

    <Button client:visible />

    <div class="mt-12">this is a chill about page</div>
  </main>
</Layout>
